<div class='title'>
  <h3>Settings</h3>
  <button id='popup-close' class='close'>Close</button>
</div>
<hr />
<div class='content'>

  <section>
    <h4>Improviz Server</h4>
    <p>To send programs to the Improviz server, the editor needs to know where it is</p>
    <input type="text" id="server-host" name="server-host" value="{{improviz.host}}">
    <input type="text" id="server-port" name="server-port" value="{{improviz.port}}">
  </section>

  <section>
    <h4>Key Map</h4>
    <p>Currently the supported bindings are the CodeMirror defaults and Vim bindings</p>
    <select id="keyMap" name="keyMap">
      <option value="default" {{{setSelected "default" keyMap}}}>Default</option>
      <option value="vim" {{{setSelected "vim" keyMap}}}>Vim</option>
    </select>
  </section>

  <section>
    <h4>Transparent Background</h4>
    <p>This will make the entire background of the editor transparent, so it's possible to sit the editor ontop of the visuals</p>
    <input type="checkbox" id="toggle-transparency" name="transparency" {{#if transparent }}checked{{/if}}><label for="toggle-transparency">Transparency</label>
  </section>

  <section>
    <h4>Performance Mode</h4>
    <p>Enabling performance mode will hide the header bar</p>
    <input type="checkbox" id="toggle-performance" name="performance" {{#if performanceMode }}checked{{/if}}><label for="toggle-performance">Performance Mode</label>
  </section>

  <section>
    <h4>Line Numbers {{{lineNumbers}}}</h4>
    <p>Line Numbers can be toggled on or off</p>
    <input type="checkbox" id="toggle-linenumbers" name="linenumbers" {{#if lineNumbers }}checked{{/if}}><label for="toggle-linenumbers">Toggle Line Numbers</label>
  </section>
</div>
